Source: openmediavault-deluge
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.3

Package: openmediavault-deluge
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 1.0), python, python-twisted, python-openssl,
 intltool, python-xdg, python-chardet, geoip-database, python-notify, python-pygame,
 python-glade2, librsvg2-common, xdg-utils, python-mako
Priority: optional
Description: OpenMediaVault Deluged plugin
 Deluge is a full-featured ​BitTorrent client.